<%= form_tag(products_path, method: 'get', class: 'form-horizental') do %>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-b-md">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <div class="row">
          <%= text_field_tag :keyword, params[:keyword], placeholder: 'Seach..', class: "form-control" %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
            <%= text_field_tag :price, params[:price], placeholder: 'Price', class: "form-control" %>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <%= select_tag(:price_operator, options_from_collection_for_select(Product::PRICE_OPERATORS, :second, :first,params[:price_operator]), class: 'form-control') %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">
        <%= select_tag(:country, options_from_collection_for_select(Product::COUNTRIES, :to_s, :to_s, params[:country]), {class: 'form-control', prompt: 'Select Country'}) %>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">
        <%= select_tag(:order, options_from_collection_for_select(Product::SORTING.values, :to_s, :to_s, params[:order]), {class: 'form-control'}) %>
      </div>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
<div class="clearfix"></div>
